<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Custom CSS -->
    <link href="static/css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">LifeLine</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
                {% if session['username'] %}
                <ul class = 'nav navbar-nav navbar-right'>
                    <li>
                        <form action="/user/{{session['username']}}" method = 'GET'>
                        <button type="submit" class="btn btn-sm btn-default" aria-label="Left Align">
                            <!--<a href = '/user/{{session['username']}}'>-->
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Logged in as {{session['username']}}
                            <!--</a>-->
                        </button>
                        </form>
                    </li>
                    <li>
                        <form class="form-inline" method = "POST" action = "/logout">
                                <button id="btnLogout" class="btn btn-sm btn-default" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
                {% else %}
                <ul class = 'nav navbar-inline navbar-right'>
                    <form class="form-inline" method = "POST" action = "/login">
                        <div class="form-group input-group-sm">
                            <label for="username" class="sr-only">Name</label>
                            <input type="name" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
                        </div>
                        <div class="form-group input-group-sm">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        </div>
                        <button id="btnLogin" class="btn btn-sm btn-default" type="submit">Login</button>
                        <a class="btn btn-default btn-sm" href="signup">Sign Up</a>
                    </form>
                    
                </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <!--<header class="business-header">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-12">-->
                    <!--<h1 class="tagline">LifeLine</h1>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</header>-->
    
    
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">About Us</h2>
        <hr>
      
        <h4 class="text-center"><b>Our Vision</b></h4>
        <p align="justify">Empowering community, saving lives.</p>
        <br>
        <h4 class="text-center"><b>Our Mission</b></h4>
        <p align="justify">To expedite victim's treatment during emergency and work towards a more health-conscious society.</p>            <br>
        <h4 class="text-center"><b>Our Partners</b></h4>
        <p align="justify">Twilio is a cloud communication company. It allows users to use its application program interface (API) to communicate with others through text messages, phone calls and even video calls.
        In LifeLine, Twilio enables the exchange of text messages between bystanders or victims with the nearby responders. </p>
        <br>
        <h4 class="text-center"><b>Our History</b></h4>
        <p align="justify">Development of LifeLine started in 2016 during our Social Entrepreneurship class. We were tasked to improve the communication system during an emergency with the help of Twilio as the cloud communication platform.
        After doing extensive market research and user validation, we unanimously agreed to target high-density cities because ambulances are more likely to be caught in traffic congestion and there is a higher chance of geting a nearby responder in the event of an emergency.
        Singapore has been chosen as our first target market.</p>
        <br>
        <h4 class="text-center"><b>Our Background</b></h4>
        <p align="justify">We are a group of engineers of diverse skills from Nanyang Technological University, Singapore. In another three semesters, we are going to graduate with a Bachelor of Engineering and a Master of Science in Technology Management.</p>
            
        </div>
    
     
                
        <!-- Footer -->
        <div class="col-sm-12">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; LifeLine</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
        
        </div>
               
    </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
