<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Our Services</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Custom CSS -->
    <link href="static/css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">LifeLine</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
                {% if session['username'] %}
                <ul class = 'nav navbar-nav navbar-right'>
                    <li>
                        <form action="/user/{{session['username']}}" method = 'GET'>
                        <button type="submit" class="btn btn-sm btn-default" aria-label="Left Align">
                            <!--<a href = '/user/{{session['username']}}'>-->
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Logged in as {{session['username']}}
                            <!--</a>-->
                        </button>
                        </form>
                    </li>
                    <li>
                        <form class="form-inline" method = "POST" action = "/logout">
                                <button id="btnLogout" class="btn btn-sm btn-default" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
                {% else %}
                <ul class = 'nav navbar-inline navbar-right'>
                    <form class="form-inline" method = "POST" action = "/login">
                        <div class="form-group input-group-sm">
                            <label for="username" class="sr-only">Name</label>
                            <input type="name" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
                        </div>
                        <div class="form-group input-group-sm">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        </div>
                        <button id="btnLogin" class="btn btn-sm btn-default" type="submit">Login</button>
                        <a class="btn btn-default btn-sm" href="signup">Sign Up</a>
                    </form>
                    
                </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <!--<header class="business-header">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-12">-->
                    <!--<h1 class="tagline">LifeLine</h1>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</header>-->
    
    
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
        <h2 class="text-center">Services</h2>
        <hr>
        <p align="justify">LifeLine is a multi-functional app which primarily aims to get nearby responders
        to help victims while waiting for the ambulance to arrive. We believe that every single
        minute can make a difference in a victim's life, and this is the very foundation of our
        solution. We also offer a handy first aid kit manual to assist users when diagnosing symptoms
        or performing basic treatments for mere injuries as well as emergency cases. Ultimately,
        LifeLine strives towards becoming the first solution that people will think of when they are facing
        an emergency.</p>
        <br>
        <br>
   
        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center"><b>Quick and Reliable Help</b></h4>
                <p align="justify">It is of paramount importance that users can use our app without any difficulty. Check out how our app functions in the video below.</p>
                <a href="#">
                    <img class="img-circle img-responsive img-center" src="static/images/call.png" alt="">
                </a>            
            </div>

            <div class="col-sm-4">
                <h4 class="text-center"><b>In-app First Aid Kit Manual</b></h4>
                <p align="justify">Don't know how to deal with emergency cases? LifeLine provides a step-by-step guide to deal with most injuries!</p>
                <a href="#">
                    <img class="img-circle img-responsive img-center" src="static/images/Manual.jpg" alt="">
                </a>
                
            </div>

            <div class="col-sm-4">
                <h4 class="text-center"><b>Donation</b></h4>
                <p align="justify">As a non-profit entity, we heavily depend on government grants and your kind donation. Your contribution will go a long way to ensure the sustainability and development of LifeLine.</p>
                <a class="btn btn-primary btn-lg" href="#">Donate Now!</a>
            </div>
        </div> 


        <!-- /.row -->
        </div> 
        

        <!-- Footer -->
        <div class="col-sm-12">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; LifeLine</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
        
        </div>
               
    </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
